.headerContainer {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FBF6EF;
    justify-content: center;
}
.headerLogo {
    height: 200%;
    padding: 20px;
    margin: 20px;
}
p {
    margin: 0 36px;
}